
body {
    /* background-color: #ffffff; */
    background: #48e
}

.fuente {
    /* border: 1px solid green; */
    font-family: 'Trykker', serif;
    text-align: center;
    font-size: large;
    font-weight: 900;
    color: #ffffff;
    
}

.fondo{
    background-color: #0012B8;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 15px rgb(0, 45, 246);
}
.border-radius-20{
    border-radius: 20px;
    
}
.img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*CSS para los estilos del navegador*/
.navMobil {
    display: none;
}

@media (max-width: 1080px) {
    .nav {
        display: none;
    }

    .navMobil {
        background-color: transparent;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        /* border: 2px solid red; */
        overflow: hidden;
    }

    .li {

        margin: 15px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: underline black;
    }

    .menu {
        /* border: 2px solid green; */
        background-color: #3B48C3;
        position: absolute;
        top: -350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .i:hover+.menu {
        top: -10px;
        transition: top 2s;
    }

    .menu:hover {

        transition: top 2s;
    }

    li {
        color: #000000;
        width: 100%;
        margin-left: 10px;
        list-style: none;
        font-size: x-large;


    }

    .btn-primary {
        background: transparent;
    }

    .bi-list {
        color: #000000;
        font-size: xx-large;
    }
}

ul {

    display: flex;
    list-style: none;
    justify-content: end;
    width: 90vw;
}

.nav ul a {
    text-decoration: none;
    margin: 1% 3%;
    font-size: xx-large;
    font-weight: 500;
    color: #161515;
    font-family: 'PT Serif', serif;
}

.nav ul li{
   padding: 10px;

}
.nav ul li:hover {
    border-top-left-radius:50% ;
    border-top-right-radius:50% ;
    background-color: #2e42f5;
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline; 
    box-shadow: 0px 0px 10px rgb(66, 28, 192);

}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS para la presentacion*/
.inicio {
    /* border: 5px solid rgb(214, 39, 39); */
   
    height: 80vh;
    width: 80%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 22px;
    overflow: hidden;
}

@media (max-width: 541px) {
    .inicio {
        width: 100%;
    }
}

.inicio_presentacion {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 40%;


}

.inicio_foto {
    /* border: 3px solid rgb(11, 206, 70); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 350px;
    min-width: 300px;
    min-height: 300px;
    margin: auto;
   
}

.inicio_foto img {
    border: 12px rgb(42, 23, 255);
    border-style: ridge;
    height: 100%;
    min-height: auto;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0px 0px 11px white;


}

/* CSS PARA MI PRESENTACION  */
section .sobreMi {
    /* border: 2px solid rgb(31, 228, 71); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    font-family: 'M PLUS 1', sans-serif;
    font-weight: lighter;



}

/* font family */
.sobreMi_texto h3 {
    /* border: 1px solid green; */
    font-family: 'Copse', serif;
}



.containerSobreMi {



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
   
}

.imagen {

    position: relative;
    width: 100%;
    height: 30vh;
}

.imagen img {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;


}

/* CSS para el cuadro de herramientas*/
.sectionMisHerramientas {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    margin: 1%;
    width: 100vw;
}

.misHerramientas {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
    position: relative;
    margin: 5%;
}

@media (max-width: 1050px) {
    .misHerramientas {
        width: 80%;
        min-height: 50vh;
    }
}

@media (max-width: 877px) {
    .misHerramientas {
        width: 100%;
    }
}

@media (max-width: 514px) {
    .misHerramientas {
        width: 100%;
    }
}

.containerMisHerramientas {
    /* border: 22px solid green; */

    /* box-shadow: 3px 3px 5px #545353; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    width: 100%;
    height: 100%;



}

.titulosMisHerramientas {
    /* border: 2px solid rgb(17, 225, 180); */
    text-align: center;
    margin-bottom: 2% 0;
    color: rgb(255, 255, 255);


}

.titulosMisHerramientas h3 {
    font-weight: 700;
    font-family: 'Copse', serif;
}



.herramientasDisponibles {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;

    margin: auto;

}

.herramientas {


    position: relative;
    width: 30%;
    height: 30%;
    margin-bottom: 15px;

}


.herramientas:hover>img {
    box-shadow: 1px 2px 10px;
    transform: rotatey(360deg);
    transition: transform 3s;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 15px white;
}

.herramientas img {

    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.proyectos {
    /* border: 2px solid green; */

    display: flex;
    height: auto;
    /* box-shadow: 1px 1px 22px; */
    margin: 0;

}

.container_proyectos {
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    min-height: 150px;
}

.tituloProyectos {
    /* border: 2px solid black; */
    margin-top: 20px;
    text-align: center;
    font-family: 'Copse', serif;
}



.fila {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: auto;
    flex-wrap: wrap;
    min-height: auto;
}


.card {
    margin: 30px;
    width: 35%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    min-width: 300px;
    min-height: 300px;
}

@media (max-width: 1067px) {
    .card {
        border-radius: 10%;
    }

}



.card img {
    border-radius: 15px;

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.descripcionProyecto {
    position: absolute;
    top: 100%;
}

.card:hover>.descripcionProyecto {

    padding-bottom: 400px;
    background-color: #5e5d5d73;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    top: 50%;
    width: 100%;
    transition: top 2.5s;


}

.card:hover>.imagenDeFondo {
    opacity: 0.4;
    transition: opacity 2s;

}


/** CSS para el formuario**/
.contacto {
    background-color: transparent;
    padding: 5%;

    width: auto;
    display: flex;
    justify-content: end;
    width: 100vw;


}

.containerContacto{
    /* border: 2px solid rgb(131, 130, 130); */

    width: 50%;
    height: auto;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 600px;

    /* box-shadow: 10px 5px 15px; */
}

@media (max-width: 1067px) {
    .containerContacto {
        width: 100%;
    }
}

@media (max-width: 584px) {
    .containerContacto {
        min-width: 100%;
    }
}



.containerForm {
    /* border: 2px solid rgb(11, 216, 90); */
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    min-height: 90%;
}

form .input {
    height: 50px;
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #0012B8;
    background-color: transparent;
    color: #ffffff;
}

.form textarea {
    resize: none;
}

form .input[type="submit"] {
    border: 1px solid white;
    background-color: #020497;
}
form .input[type="submit"]:hover {
    border: 1px double white;
    background-color: #2e56f5;
    box-shadow: 0px 0px 25px;
}

.hijosForm {
    margin: auto;
}

.input:focus {
    outline: none;
    background-color: #1100ff;

}

.imgForm {
    /* border: 3px solid rgb(84, 10, 223); */
    width: 50%;
    min-height: auto;
}

.imgForm img {
    border-radius: 50%;
    width: 100%;
    object-fit: contain;


}

.imgForm img:last-child {
    animation: girar 10s alternate infinite;

}

@keyframes girar {

    100% {
        transform: rotatey(720deg);
    }
}








.containerFooter {
    background-color: #030303;
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconosFooter {
    display: flex;
    width: 10%;
    justify-content: space-around;


}

.redes {
    font-size: xx-large;
    cursor: pointer;
    color: aliceblue;

    display: flex;
    text-align: center;
    margin: 0 0.5%;
}

.containerFooter .diegoRamos {
    color: aliceblue;
    text-align: center;
    font-size: x-large;
}