*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.none{
    display: none;
}
.block{
    display: block;
}
.texto{
        color: #000000;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 24px;
    
}
.titulo{
    color: #2D9CDB;
    font-size: 36px;
}
.btn{
    background-color: #2D9CDB;
    color: #ffffff;
   padding: 1rem;
   border-radius: 10px;
    font-size: 24px;
}
.container{
    border: 2px solid black;
    height: auto;
}
.nav{
    border: 2px solid red;
    display: flex;
    background-color: #7E50DB;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}

.nav_mobile{
    display: none;
}
.menu_mobile{
    position: absolute;
    width: 60%;
    height: 100vh;
    background-color: #7E50DB;
    display: flex;
    flex-direction: column;
    top: -200%;
    transition: top 2.5s;
}

.logo{
    /* border: 2px solid red; */
    display: flex;
    
}
.logo span{
font-size: xx-large;
color: #ffffff;
margin: auto;
margin-left: 2rem;
}
.menu {
    border: 2px solid red;
width: 60%;
}
.menu ol{
    /* border: 2px solid rgb(242, 235, 235); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

}
.menu ol li{
    list-style: none;
    /* border: 2px solid black; */
    width: 20%;
    height: 50%;
}
.menu ol li a{
    color: #ffffff;
    text-decoration: none;
    font-size: x-large;
    width: 100%;
}
.presentacion{
    border: 2px solid rgb(0, 221, 255);
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.presentacion_texto{
    border: 5px solid rgb(43, 255, 0);
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.presentacion_texto_superior{
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentacion_texto_inferior{
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: center;
}
.presentacion_texto h1{
    color: #333333;
    margin-bottom: 1rem;
    font-size: 36px;
}

.presentacion_texto h1 span{
    color: #2D9CDB;
    font-size: 48px;
}
.presentacion_texto p{
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
}
.presentacion_img{
    border: 2px solid red;
    width: 50%;
    height: 70%;
}
.presentacion_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.acercaDeMi{
    border: 5px solid red;
    width: 100%;
    height:100vh;
}
.acercaDeMi_superior{
    border: 5px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85%;
}
.acercaDeMi_superior .acercaDeMi_texto{
  border: 15px solid black;
  width: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    text-align: center;
}
.acercaDeMi_superior .acercaDeMi_texto p{
   line-height: 1.5;
   text-align: left;
  }
  .acercaDeMi_superior .acercaDeMi_texto_redes{
    display: flex;
    justify-content: center;
  }
.acercaDeMi_superior .acercaDeMi_texto i{
    margin: 0 1.5rem;
   font-size: xx-large;
   text-align: start;
  }
.acercaDeMi_superior .acercaDeMi_img{
    border: 5px solid rgb(24, 4, 245);
    width: 35%;
    height: 75%;
}
.acercaDeMi_superior .acercaDeMi_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

.acercaDeMi_inferior{
    border: 5px solid rgb(4, 4, 4);
    height: 15%;
}
.acercaDeMi_inferior .acercaDeMi_btn{
    border: 5px solid violet;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acercaDeMi_inferior .acercaDeMi_btn button{
    
    width: 30%;
}
.acercaDeMi_inferior .acercaDeMi_btn a{
    
    font-size: 26px;
}






.misProyectos{
    width: 100%;
    height:auto;
    border: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
}
.misProyectos article{
    border: 2px solid red;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.misProyectos_proyectos{
    width: 70%;
    height: 100vh;
    border: 5px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyecto{
    display: flex;
    flex-direction: column;
    border: 2px solid violet;
    width: 35%;
    height: 45%;
    margin: 1rem 2rem;
}
.proyecto_img{
width: 100%;
height: 60%;
border: 2px solid green;
}
.proyecto_img img{
width: 100%;
height: 100%;
object-fit: cover;
}
.proyecto_texto{
  height: 40%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyecto_texto h2{
font-size: 32px;
font-weight: bold;

}
.proyecto_texto p{
font-size: 16px;
font-weight: bold;
}
.proyecto_texto_redes{
border: 2px solid red;
width: 50%;
display: flex;
justify-content: space-around;
}
.proyecto_texto_redes .red_social{
border: 2px solid blue;
padding: .5rem;
width: 30%;
border-radius: 15px;
background-color: #7E50DB;
color: #ffffff;
}
.proyecto_texto_btn{
    /* border: 5px solid green; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.proyecto_texto_btn .btn{
    border: 2px solid green;
    height:2rem;
    padding:0 ;
    font-size: medium;
    width: 25%;
}



.contacto{
    border: 5px solid black;
    height: 100vh;
    width: 100%;
   
}


.contacto_form{
    background-color: #F2F2F2;
    border: 10px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 20px;
}
.form-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    max-width: 1000px;
    box-shadow: 2px 4px 5.5px rgb(0, 0, 0);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    border: 22px solid red;
    height:90%;
    justify-content: space-around;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-field {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    width: 48%;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #000000;
}
input:focus {
    outline: none; /* Quita el borde al hacer clic */
    border-bottom: 1px solid rgb(0, 221, 255);
}
.form-container form button {
width: 20%;
font-size: 20px;

}




footer{
    background-color: #333333;
    color: #ffffff;
    width: 100%;
    height: auto;
}

.footer_superior{
    border: 2px solid white;
    display: flex;
 justify-content: space-around;
}
.footer_col_1{
    font-size: 16px;
    width: 40%;
    display: flex;
    align-items: center;
    border: 2px solid red;

}
.footer_col_2{
    border: 2px solid red;

    width: 20%;
}
.footer_col_2 ol li {
    list-style: none;
    font-size: 16px;
   
}
.footer_col_2 ol li a{
    list-style: none;
    color: #ffffff;
}
.footer_col_3{
width: 10%;
}
.footer_col_3 .redes{
border: 2px solid red;
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.footer_col_3 .redes i{
font-size: 16px;
}
.footer_inferior{
    text-align: center;
}

@media (max-width: 800px) {
    .nav{
        display: none;
    }
    .nav_mobile{
        text-align: end;
        display: block;
    }
    .nav_mobile .bi-list{
        font-size: xx-large;
    }
    .nav_mobile .logo{
        display: flex;
        justify-content: space-between;
    }
    .nav_mobile .logo .bi-x-lg{
  font-size: xx-large;
    }
    .nav_mobile .logo span{
    margin: 0;
    }
    .menu_mobile{
        position: absolute;
        width: 60%;
        height: 100vh;
        background-color: #7E50DB;
        display: flex;
        flex-direction: column;
        transition: top 1.5s;
        z-index: 100;
      
    }
    
    .menu_mobile ol{
        border: 2px solid red;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu_mobile ol li{
        text-align: start;
        margin-left:1rem ;
        list-style: none;
    }
    .menu_mobile ol li a{
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    }
    
}
@media (max-width: 1300px) {
    .acercaDeMi_superior .acercaDeMi_texto{
        width: 65%;
    }
    .acercaDeMi_inferior .acercaDeMi_btn{
        width: 65%;
    }
    .misProyectos_proyectos{
        width: 100%;
    }
    .proyecto_texto_redes{
        width: 80%;
    }
    .proyecto_texto_btn .btn{
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .menu ol li a{
        color: #ffffff;
        text-decoration: none;
        font-size: large;
        width: 100%;
    }
    .proyecto{
        height: auto;
    }
}
@media (max-width: 824px) {
    .presentacion_texto h1 span ,.titulo{
        font-size: 36px;
    }

    .presentacion_texto h1 {

        font-size: 24px;
    }
    .presentacion_texto p , .texto{
       
        font-size: 18px;
    }
    .btn{
        font-size: 18px;
    }
    .proyecto {
        height: auto;
        width: 45%;
        margin: 10px 10px;
    }
    .proyecto_texto_redes {
        width: 100%;
        margin: .5rem 0;
    }
    .proyecto_texto{
        height: auto;
    }
    .proyecto_texto_btn .btn {
        height: 2.5rem;
    }


    .acercaDeMi{
        height: auto;
    }
    .acercaDeMi_superior {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .acercaDeMi_superior .acercaDeMi_texto{
        width: 100%;
    }
    .acercaDeMi_superior .acercaDeMi_img{
        width: 100%;
    }
    .acercaDeMi_superior .acercaDeMi_img{
        width: 100%;
        height: 50%;
    }
    .acercaDeMi_superior .acercaDeMi_img{
       object-fit: contain;
    }
    .acercaDeMi_inferior .acercaDeMi_btn{
        width: 100%;
    }
    .form-container form button {
        width: auto;
        font-size: 18px;
    }
}
@media (max-width: 524px) {

    .presentacion_img {
        border: 2px solid red;
        width: 100%;
        height: 70%;
        position: absolute;
        opacity: .3;
        z-index: 1;
    }
    .presentacion_img {
        object-fit: contain;
    }
    .presentacion_texto {
        border: 5px solid rgb(43, 255, 0);
        height: 70%;
        width: 90%;
        display: flex;
        position: absolute;
        z-index: 10;
        text-align: center;
        
    }
    .acercaDeMi_inferior .acercaDeMi_btn button {
        width: 70%;
    }




    .proyecto {
width: 80%;  
height: auto; 
 }
 .misProyectos_proyectos {
    height:auto;
}
.contacto{
    height: auto    ;
}
.form-container {
   padding: 0;
}
.footer_col_3 .redes {
   
    display: flex;
    flex-direction: column;
  
}
.footer_col_2 {
    border: 2px solid red;
    width: 40%;
}
}